* {
    margin: 0;
    padding: 0;
}

body{
    background-color: wheat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #1313135e;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

nav h1 {
    font-size: 3.2rem;
    font-family: monospace;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
}

a {
    margin-right: 1rem;
    font-family: monospace;
    font-size: 2.1rem;
    text-decoration: none;
    color: white;
    padding:0.3rem
    transition: 2s ease-in-out;
}

a:hover{
    border-bottom: 1px solid white;
}

#hero {
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/851555/pexels-photo-851555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero div h1{
    font-size: 5.5rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    background-color: #1313135e;
    padding: 1rem;
    /* box-shadow: 0.8rem 0.8rem 0.8rem #131313; */
}
#hero div p{
    text-align: center;
    font-size: 1.7rem;
    font-family: monospace;
    letter-spacing:0.5rem ;
    background-color: #1313135e;
    padding: 1rem;
    
}

#about{
    height: 100vh;
    display: flex;
    flex-wrap:wrap;
}

.left,.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .left img{
    width: 50%;
    border-radius: 0.8rem;
}

#about .right h1{
    font-size: 5.5rem;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing:0.7rem ;
     /* box-shadow: 0.8rem 0.8rem 0.8rem #131313; */
}

#about .right p{
    font-size:1.5rem ;
    font-family: monospace;

}

#service{ 
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

#service h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: monospace;
    letter-spacing:0.5rem ;
    margin: 1rem 0  ;
}

#service .lower{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1313134d;
    padding: 1rem;
    border-radius: 0.8rem;
    transition: 2s ease-in;
}

.card img{
    width: 100%;

}

.card:hover{
    box-shadow: 1rem 1rem 1rem #00000085;
}

#contact{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,textarea{
    margin: 1rem 0;
    padding: 1rem 4rem;
    background-color: transparent;
    color: #000;
    font-size: 1.3rem;
    border: none;
    border-bottom: 1px solid #000;
}

input:focus{
    outline: none;
}

textarea:focus{
    outline: none;
}

.btn{
    width: 4rem;
    background-color:rgba(222, 184, 135, 0.925);
    border-bottom: none;
    display: flex;
    justify-content: center;
    border-radius: 0.8rem;
}